<p>
  <a href="javascript:RandomCountry()"> Neues Land, neues Glück! </a>
  <a href="javascript:SwitchMap()" id=switch_map_link> Karte ohne Grenzen anzeigen</a>
</p>
<p> 
  Wo liegt: 
  <input id=country value='' disabled=true>
  ???
</p>

<p><img src="http://localhost:3000/images/world.gif" id=map alt="Die Welt" usemap=#countries></p>
<map name=countries>
	<% @map_information[:countries].each do |country| %>
		<area shape="poly" coords=<%= country[1].join(',') %> onclick="CheckSuccess('<%= country[0] %>')">
	<% end %>
</map>

<script type="text/javascript">
<!--

function CheckSuccess(name) {
  if (document.getElementById('country').value == name) {
    alert('Richtig!');
    RandomCountry();
  } else {
    alert('Leider falsch! Das ist ' + name)
  }
}

function RandomCountry() {
  var country_list = <%= array_or_string_for_javascript(@country_list) %>
  var random_country = country_list[Math.floor(Math.random() * country_list.length)]
  document.getElementById('country').value = random_country
}

function SwitchMap() {
  if (document.getElementById('switch_map_link').innerHTML == 'Karte mit Grenzen anzeigen') {
    document.getElementById('switch_map_link').innerHTML = "Karte ohne Grenzen anzeigen"
    document.getElementById('map').src = "http://localhost:3000/images/world.gif"
  } else {
    document.getElementById('switch_map_link').innerHTML = "Karte mit Grenzen anzeigen"
    document.getElementById('map').src = "http://localhost:3000/images/world_no_borders.gif"
  }
}
//-->
</script>