Hallo Welt
<p><img src="http://localhost:3000/images/world.gif" alt="Die Welt", usemap=#countries></p>

<map name=countries>
	<% @map_information[:countries].each do |country| %>
		<area shape="poly" coords=<%= country[1].join(',') %> onclick="Name('<%= country[0] %>')">
	<% end %>
</map>

<script type="text/javascript">
<!--
function Name(name) {
  alert(name)
}
//-->
</script>